<!DOCTYPE html>
<html>
  <head>
    <title>GameOfThrones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1> <%=link_to "HOMEX", houses_path %> </h1>
    <h2> <%=link_to "ALL CHARACTERS", characters_path %> </h2>
    <%= yield %>
  </body>
</html>
